.homepage{
    border: red 1px solid;
}

.choice-block{
    display: flex;
    justify-content: center;
}

.cur-input{
    margin: 0 3%;

}

.display-block{
    display: flex;
    justify-content: center;
    margin: 2vmin;
}